In [1]:
# Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [12]:
# Plot settings
sns.set_context('notebook') # optimises figures for notebook display
sns.set_style('ticks') # set default plot style
crayon = ['#4E79A7','#F28E2C','#E15759','#76B7B2','#59A14F', 
          '#EDC949','#AF7AA1','#FF9DA7','#9C755F','#BAB0AB']
sns.set_palette(crayon) # set custom color scheme
%matplotlib inline
plt.rcParams['figure.figsize'] = (9, 6)

# To make sure the 'CS_data.csv' is in same folder with this proj_01.
data_file_path = 'CS_data.csv'

data = pd.read_csv(data_file_path)

# To check data high level
# we can find some of the data is type numerical and others is type object.
# Try to find how do handle the data.
# Does numerial need One-hot encoding? Does we need drop the None Seriese? Does we need label encoding?
# Let's drill the data next.
data.head()

,HHKEY,ZIP_CODE,REC,FRE,MON,CC_CARD,AVRG,PC_CALC20,PSWEATERS,PKNIT_TOPS,...,VALPHON,WEB,MAILED,RESPONDED,RESPONSERATE,HI,LTFREDAY,CLUSTYPE,PERCRET,RESP
0,9955628074270,48328,76,1,125.96,0,125.96,11,0.00,0.00,...,Y,0,0,0,0.0,50.61,76.00,4,0.00,0
1,9955630420476,53572,167,5,316.99,0,63.39,11,0.00,0.07,...,Y,0,4,1,25.0,20.39,89.66,16,0.25,0
2,9955624772271,45342,96,2,175.94,0,87.97,11,0.17,0.14,...,Y,0,0,0,0.0,23.17,81.50,23,0.00,0
3,9955600980814,2806,199,2,253.98,0,126.99,16,0.19,0.00,...,Y,0,10,2,20.0,34.76,75.87,1,0.00,0
4,9955603247633,8060,342,1,122.00,0,122.00,16,0.00,0.00,...,Y,0,4,0,0.0,37.47,171.00,4,0.00,0

In [24]:
# Try to find all the columns in frame.
data.columns

Index(['HHKEY', 'ZIP_CODE', 'REC', 'FRE', 'MON', 'CC_CARD', 'AVRG',
       'PC_CALC20', 'PSWEATERS', 'PKNIT_TOPS', 'PKNIT_DRES', 'PBLOUSES',
       'PJACKETS', 'PCAR_PNTS', 'PCAS_PNTS', 'PSHIRTS', 'PDRESSES', 'PSUITS',
       'POUTERWEAR', 'PJEWELRY', 'PFASHION', 'PLEGWEAR', 'PCOLLSPND',
       'AMSPEND', 'PSSPEND', 'CCSPEND', 'AXSPEND', 'TMONSPEND', 'OMONSPEND',
       'SMONSPEND', 'PREVPD', 'GMP', 'PROMOS', 'DAYS', 'FREDAYS', 'MARKDOWN',
       'CLASSES', 'COUPONS', 'STYLES', 'STORES', 'STORELOY', 'VALPHON', 'WEB',
       'MAILED', 'RESPONDED', 'RESPONSERATE', 'HI', 'LTFREDAY', 'CLUSTYPE',
       'PERCRET', 'RESP'],
      dtype='object')

In [33]:
# for i in range(5):
data.iloc[:,0:11].head().round(2)

,HHKEY,ZIP_CODE,REC,FRE,MON,CC_CARD,AVRG,PC_CALC20,PSWEATERS,PKNIT_TOPS,PKNIT_DRES
0,9955628074270,48328,76,1,125.96,0,125.96,11,0.00,0.00,0.0
1,9955630420476,53572,167,5,316.99,0,63.39,11,0.00,0.07,0.4
2,9955624772271,45342,96,2,175.94,0,87.97,11,0.17,0.14,0.0
3,9955600980814,2806,199,2,253.98,0,126.99,16,0.19,0.00,0.0
4,9955603247633,8060,342,1,122.00,0,122.00,16,0.00,0.00,0.0

In [34]:
data.iloc[:,11:22].head().round(2)

,PBLOUSES,PJACKETS,PCAR_PNTS,PCAS_PNTS,PSHIRTS,PDRESSES,PSUITS,POUTERWEAR,PJEWELRY,PFASHION,PLEGWEAR
0,0.00,0.55,0.44,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0
1,0.07,0.12,0.00,0.12,0.00,0.00,0.00,0.0,0.00,0.0,0.0
2,0.00,0.35,0.00,0.00,0.15,0.17,0.00,0.0,0.00,0.0,0.0
3,0.00,0.09,0.19,0.00,0.00,0.00,0.51,0.0,0.00,0.0,0.0
4,0.31,0.00,0.00,0.00,0.48,0.00,0.00,0.0,0.19,0.0,0.0

In [35]:
data.iloc[:,22:33].head().round(2)

,PCOLLSPND,AMSPEND,PSSPEND,CCSPEND,AXSPEND,TMONSPEND,OMONSPEND,SMONSPEND,PREVPD,GMP,PROMOS
0,0.0,0.0,0.00,125.96,0.00,125.96,0.0,125.96,0.00,0.21,1
1,0.0,0.0,97.00,219.99,0.00,0.00,0.0,63.00,0.00,0.63,7
2,0.0,0.0,0.00,105.97,69.97,0.00,0.0,175.94,0.00,0.56,4
3,0.0,0.0,228.98,25.00,0.00,0.00,0.0,0.00,178.99,0.55,18
4,0.0,0.0,98.00,24.00,0.00,0.00,0.0,0.00,0.00,0.72,9

In [36]:
data.iloc[:,22:33].head().round(2)

,PCOLLSPND,AMSPEND,PSSPEND,CCSPEND,AXSPEND,TMONSPEND,OMONSPEND,SMONSPEND,PREVPD,GMP,PROMOS
0,0.0,0.0,0.00,125.96,0.00,125.96,0.0,125.96,0.00,0.21,1
1,0.0,0.0,97.00,219.99,0.00,0.00,0.0,63.00,0.00,0.63,7
2,0.0,0.0,0.00,105.97,69.97,0.00,0.0,175.94,0.00,0.56,4
3,0.0,0.0,228.98,25.00,0.00,0.00,0.0,0.00,178.99,0.55,18
4,0.0,0.0,98.00,24.00,0.00,0.00,0.0,0.00,0.00,0.72,9

In [37]:
data.iloc[:,33:44].head().round(2)

,DAYS,FREDAYS,MARKDOWN,CLASSES,COUPONS,STYLES,STORES,STORELOY,VALPHON,WEB,MAILED
0,76,76.0,0.30,2,0,4,1,676,Y,0,0
1,538,107.6,0.04,6,0,11,4,243,Y,0,4
2,163,81.5,0.18,6,0,6,2,436,Y,0,0
3,607,303.5,0.08,4,0,4,2,2664,Y,0,10
4,342,342.0,0.00,4,0,4,2,2957,Y,0,4

In [38]:
data.iloc[:,44:].head().round(2)

   RESPONDED  RESPONSERATE     HI  LTFREDAY  CLUSTYPE  PERCRET  RESP
0          0           0.0  50.61     76.00         4     0.00     0
1          1          25.0  20.39     89.66        16     0.25     0
2          0           0.0  23.17     81.50        23     0.00     0
3          2          20.0  34.76     75.87         1     0.00     0
4          0           0.0  37.47    171.00         4     0.00     0

In [5]:
# To describe the frame with round to 2.
# OMG! It's too columns that we can view them as a whole.
# Let's split them into some view table next.
# Kindly reminder that you should check the data frame with the 'Data dictionary.csv' which describe the column meaning.
data.describe().round(2)

,HHKEY,ZIP_CODE,REC,FRE,MON,CC_CARD,AVRG,PC_CALC20,PSWEATERS,PKNIT_TOPS,...,STORELOY,WEB,MAILED,RESPONDED,RESPONSERATE,HI,LTFREDAY,CLUSTYPE,PERCRET,RESP
count,1.739200e+04,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,...,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00
mean,9.955673e+12,48909.91,127.50,5.08,471.68,0.39,113.79,12.57,0.21,0.03,...,2116.62,0.04,4.68,1.20,17.33,37.93,80.70,15.16,0.13,0.17
std,5.307517e+08,24083.79,104.97,6.54,626.04,0.49,86.02,2.46,0.23,0.07,...,1806.19,0.20,3.54,1.83,24.56,28.27,79.12,12.24,0.59,0.37
min,9.955600e+12,0.00,1.00,1.00,0.99,0.00,0.49,11.00,0.00,0.00,...,3.00,0.00,0.00,0.00,0.00,0.05,0.09,0.00,0.00,0.00
25%,9.955616e+12,30341.00,35.00,1.00,136.00,0.00,60.99,11.00,0.00,0.00,...,338.00,0.00,1.00,0.00,0.00,18.43,25.10,5.00,0.00,0.00
50%,9.955628e+12,48336.00,99.00,3.00,262.95,0.00,92.01,11.00,0.16,0.00,...,1677.00,0.00,4.00,0.00,0.00,29.51,52.25,11.00,0.00,0.00
75%,9.955639e+12,67016.75,207.00,6.00,567.00,1.00,139.70,16.00,0.31,0.03,...,4169.00,0.00,8.00,2.00,30.00,50.00,107.66,22.00,0.09,0.00
max,9.964401e+12,99687.00,365.00,115.00,14205.42,1.00,1331.94,19.00,1.00,1.00,...,7504.00,1.00,11.00,11.00,100.00,200.00,364.00,50.00,40.92,1.00

In [18]:
# Columns index 0 - 10
data.iloc[:,0:11].describe().round(2)

,HHKEY,ZIP_CODE,REC,FRE,MON,CC_CARD,AVRG,PC_CALC20,PSWEATERS,PKNIT_TOPS,PKNIT_DRES
count,1.739200e+04,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00
mean,9.955673e+12,48909.91,127.50,5.08,471.68,0.39,113.79,12.57,0.21,0.03,0.04
std,5.307517e+08,24083.79,104.97,6.54,626.04,0.49,86.02,2.46,0.23,0.07,0.11
min,9.955600e+12,0.00,1.00,1.00,0.99,0.00,0.49,11.00,0.00,0.00,0.00
25%,9.955616e+12,30341.00,35.00,1.00,136.00,0.00,60.99,11.00,0.00,0.00,0.00
50%,9.955628e+12,48336.00,99.00,3.00,262.95,0.00,92.01,11.00,0.16,0.00,0.00
75%,9.955639e+12,67016.75,207.00,6.00,567.00,1.00,139.70,16.00,0.31,0.03,0.02
max,9.964401e+12,99687.00,365.00,115.00,14205.42,1.00,1331.94,19.00,1.00,1.00,1.00

In [19]:
# Columns index 11 - 21
data.iloc[:,11:22].describe().round(2)

,PBLOUSES,PJACKETS,PCAR_PNTS,PCAS_PNTS,PSHIRTS,PDRESSES,PSUITS,POUTERWEAR,PJEWELRY,PFASHION,PLEGWEAR
count,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00
mean,0.09,0.13,0.09,0.07,0.07,0.07,0.03,0.02,0.01,0.03,0.01
std,0.14,0.18,0.14,0.13,0.12,0.16,0.13,0.10,0.04,0.08,0.05
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,0.05,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,0.14,0.23,0.13,0.09,0.10,0.07,0.00,0.00,0.00,0.03,0.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [20]:
# Columns index 12 - 32
data.iloc[:,22:33].describe().round(2)

,PCOLLSPND,AMSPEND,PSSPEND,CCSPEND,AXSPEND,TMONSPEND,OMONSPEND,SMONSPEND,PREVPD,GMP,PROMOS
count,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00
mean,0.07,13.48,147.30,286.48,24.70,89.62,31.96,220.81,41.60,0.52,11.61
std,0.18,144.73,393.66,417.61,117.31,180.95,96.69,351.47,105.82,0.14,7.14
min,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,0.00,0.00,78.00,0.00,0.00,0.00,0.00,0.00,0.46,5.00
50%,0.00,0.00,0.00,148.00,0.00,0.00,0.00,106.97,0.00,0.55,12.00
75%,0.03,0.00,126.88,320.39,0.00,109.48,0.00,286.10,0.00,0.62,17.00
max,1.00,10642.72,11476.80,11547.80,4099.92,3219.09,1968.00,6418.22,2259.50,0.99,38.00

In [21]:
# Columns index 33 - 43
data.iloc[:,33:44].describe().round(2)

,DAYS,FREDAYS,MARKDOWN,CLASSES,COUPONS,STYLES,STORES,STORELOY,WEB,MAILED
count,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00
mean,437.83,171.53,0.19,7.15,0.75,17.23,2.34,2116.62,0.04,4.68
std,192.56,146.37,0.13,5.37,1.66,24.66,1.61,1806.19,0.20,3.54
min,3.00,2.75,0.00,1.00,0.00,1.00,1.00,3.00,0.00,0.00
25%,287.00,67.19,0.09,3.00,0.00,5.00,1.00,338.00,0.00,1.00
50%,446.00,124.80,0.18,6.00,0.00,9.00,2.00,1677.00,0.00,4.00
75%,630.00,231.33,0.28,10.00,1.00,20.00,3.00,4169.00,0.00,8.00
max,713.00,713.00,0.95,37.00,27.00,743.00,19.00,7504.00,1.00,11.00

In [23]:
# Columns index 44 - end (50)
data.iloc[:,44:].describe().round(2)

,RESPONDED,RESPONSERATE,HI,LTFREDAY,CLUSTYPE,PERCRET,RESP
count,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00,17392.00
mean,1.20,17.33,37.93,80.70,15.16,0.13,0.17
std,1.83,24.56,28.27,79.12,12.24,0.59,0.37
min,0.00,0.00,0.05,0.09,0.00,0.00,0.00
25%,0.00,0.00,18.43,25.10,5.00,0.00,0.00
50%,0.00,0.00,29.51,52.25,11.00,0.00,0.00
75%,2.00,30.00,50.00,107.66,22.00,0.09,0.00
max,11.00,100.00,200.00,364.00,50.00,40.92,1.00

In [8]:
data.corr().round(2)

,HHKEY,ZIP_CODE,REC,FRE,MON,CC_CARD,AVRG,PC_CALC20,PSWEATERS,PKNIT_TOPS,...,STORELOY,WEB,MAILED,RESPONDED,RESPONSERATE,HI,LTFREDAY,CLUSTYPE,PERCRET,RESP
HHKEY,1.00,0.02,-0.02,-0.00,-0.01,0.03,0.01,0.01,-0.01,-0.01,...,-0.00,0.01,0.00,-0.00,0.00,-0.01,-0.03,0.00,0.00,0.01
ZIP_CODE,0.02,1.00,0.02,-0.03,-0.03,-0.05,0.01,-0.04,-0.03,-0.01,...,-0.05,-0.01,-0.01,-0.02,-0.03,0.01,0.03,-0.04,0.01,-0.01
REC,-0.02,0.02,1.00,-0.44,-0.37,-0.30,0.16,-0.18,0.12,-0.09,...,-0.09,-0.14,-0.14,-0.43,-0.47,0.45,0.66,0.01,-0.06,-0.27
FRE,-0.00,-0.03,-0.44,1.00,0.73,0.36,-0.19,0.16,-0.05,0.01,...,0.05,0.21,0.41,0.76,0.66,-0.42,-0.43,-0.01,0.17,0.41
MON,-0.01,-0.03,-0.37,0.73,1.00,0.36,0.22,0.15,-0.07,-0.03,...,0.04,0.21,0.40,0.70,0.59,-0.37,-0.37,-0.01,0.01,0.33
CC_CARD,0.03,-0.05,-0.30,0.36,0.36,1.00,0.06,0.14,-0.08,-0.01,...,0.03,0.13,0.36,0.41,0.37,-0.32,-0.38,0.00,0.06,0.24
AVRG,0.01,0.01,0.16,-0.19,0.22,0.06,1.00,-0.02,-0.12,-0.11,...,-0.02,-0.01,-0.01,-0.09,-0.10,0.02,0.13,-0.00,-0.15,-0.07
PC_CALC20,0.01,-0.04,-0.18,0.16,0.15,0.14,-0.02,1.00,-0.03,0.05,...,0.26,0.03,0.09,0.15,0.15,-0.21,-0.27,-0.01,0.02,0.09
PSWEATERS,-0.01,-0.03,0.12,-0.05,-0.07,-0.08,-0.12,-0.03,1.00,-0.03,...,-0.01,-0.03,-0.01,-0.03,-0.04,0.16,0.09,-0.03,-0.07,-0.03
PKNIT_TOPS,-0.01,-0.01,-0.09,0.01,-0.03,-0.01,-0.11,0.05,-0.03,1.00,...,0.03,-0.01,-0.02,0.01,0.02,-0.07,-0.05,-0.01,-0.02,0.00
PKNIT_DRES,-0.00,0.00,0.02,-0.01,-0.01,-0.01,-0.03,0.03,-0.09,0.01,...,0.02,-0.01,0.00,-0.00,-0.00,-0.03,0.02,0.00,-0.03,0.00
PBLOUSES,-0.00,0.02,-0.03,-0.05,-0.02,-0.04,0.01,-0.01,-0.20,-0.03,...,0.01,-0.01,-0.05,-0.04,-0.03,-0.06,0.00,0.01,-0.04,-0.02
PJACKETS,0.01,-0.01,0.04,-0.04,0.07,0.06,0.27,-0.02,-0.32,-0.13,...,-0.01,0.01,0.01,-0.02,-0.02,0.09,0.02,0.01,-0.07,-0.02
PCAR_PNTS,-0.01,-0.00,0.03,-0.06,0.00,-0.01,0.12,-0.05,-0.16,-0.10,...,-0.02,-0.02,-0.00,-0.04,-0.03,0.06,0.03,0.00,-0.06,-0.03
PCAS_PNTS,-0.00,-0.01,-0.02,-0.03,-0.05,-0.05,-0.08,0.03,-0.06,0.10,...,0.01,-0.02,-0.03,-0.02,-0.02,-0.07,0.01,-0.01,-0.04,-0.01
PSHIRTS,-0.00,0.00,0.00,-0.04,0.01,0.00,0.07,0.02,-0.13,-0.05,...,-0.00,-0.00,0.00,-0.02,-0.01,-0.02,0.01,0.02,-0.06,-0.01
PDRESSES,0.01,0.00,-0.08,-0.06,-0.04,-0.05,-0.01,0.02,-0.18,-0.05,...,0.01,-0.01,-0.10,-0.05,-0.04,0.11,-0.01,0.02,-0.05,-0.03
PSUITS,-0.00,0.02,0.06,-0.05,-0.01,-0.01,0.11,-0.05,-0.15,-0.06,...,-0.02,-0.00,-0.01,-0.03,-0.03,0.08,0.08,0.01,-0.03,-0.04
POUTERWEAR,-0.00,0.02,0.08,-0.02,-0.01,-0.00,0.04,-0.02,-0.09,-0.04,...,-0.01,-0.01,0.02,-0.02,-0.03,0.09,0.08,0.01,-0.01,-0.01
PJEWELRY,0.00,0.01,0.02,-0.01,-0.02,-0.01,-0.04,0.01,-0.04,0.01,...,0.01,-0.02,-0.01,-0.01,-0.01,-0.04,0.01,0.00,-0.02,0.00
PFASHION,-0.01,0.03,-0.01,0.00,-0.01,0.01,-0.04,-0.03,-0.08,-0.02,...,-0.00,0.01,-0.01,-0.00,-0.00,-0.04,0.00,0.01,-0.02,0.01
PLEGWEAR,0.00,0.00,-0.01,-0.01,-0.03,-0.00,-0.08,-0.00,-0.03,-0.01,...,0.00,-0.01,0.02,0.00,-0.00,0.00,-0.02,-0.00,-0.02,0.00
PCOLLSPND,0.01,0.02,0.11,-0.11,-0.04,-0.03,0.19,-0.09,-0.19,-0.10,...,-0.03,-0.03,-0.04,-0.10,-0.09,0.45,0.11,0.01,-0.05,-0.05
AMSPEND,-0.01,-0.02,-0.06,0.11,0.22,0.05,0.06,0.16,-0.02,0.01,...,0.07,0.06,0.04,0.09,0.09,-0.06,-0.06,0.02,0.00,0.05
PSSPEND,-0.01,-0.04,-0.24,0.49,0.67,0.23,0.10,0.40,-0.03,-0.00,...,0.07,0.13,0.27,0.47,0.38,-0.24,-0.25,-0.02,0.01,0.21
CCSPEND,-0.01,0.01,-0.26,0.53,0.71,0.27,0.21,-0.26,-0.05,-0.05,...,-0.07,0.16,0.31,0.52,0.44,-0.27,-0.25,-0.01,0.00,0.25
AXSPEND,0.01,-0.02,-0.16,0.27,0.28,0.14,-0.01,0.20,-0.02,0.02,...,0.11,0.05,0.07,0.17,0.21,-0.14,-0.14,0.01,-0.00,0.11
TMONSPEND,0.00,-0.01,-0.47,0.51,0.68,0.28,0.14,0.12,-0.07,-0.01,...,0.04,0.19,0.18,0.44,0.41,-0.27,-0.33,0.01,-0.01,0.27
OMONSPEND,0.00,-0.01,-0.36,0.38,0.52,0.23,0.11,0.09,-0.03,-0.02,...,0.02,0.15,0.16,0.35,0.33,-0.20,-0.22,0.01,-0.00,0.21
SMONSPEND,-0.00,-0.03,-0.48,0.65,0.88,0.34,0.18,0.14,-0.09,-0.00,...,0.04,0.22,0.27,0.60,0.55,-0.35,-0.38,-0.00,0.01,0.31
PREVPD,-0.01,-0.02,-0.09,0.39,0.52,0.18,0.11,0.08,-0.01,-0.03,...,0.02,0.10,0.31,0.44,0.33,-0.20,-0.16,-0.01,0.04,0.17
GMP,-0.01,0.01,0.16,-0.15,0.03,-0.07,0.30,-0.07,-0.09,-0.06,...,-0.04,-0.00,0.03,-0.06,-0.07,0.18,0.16,-0.04,-0.02,-0.06
PROMOS,0.00,-0.06,-0.13,0.46,0.45,0.41,-0.01,0.05,-0.01,-0.02,...,0.01,0.14,0.90,0.65,0.47,-0.33,-0.27,-0.06,0.07,0.22
DAYS,-0.05,-0.03,-0.17,0.36,0.30,0.25,-0.15,0.13,0.04,0.02,...,0.04,0.07,0.64,0.49,0.35,-0.29,-0.16,-0.04,0.07,0.18
FREDAYS,-0.04,0.02,0.57,-0.45,-0.37,-0.24,0.20,-0.15,0.08,-0.03,...,-0.06,-0.12,-0.06,-0.38,-0.41,0.47,0.63,0.01,-0.12,-0.23
MARKDOWN,0.01,-0.01,-0.23,0.23,0.07,0.17,-0.26,0.07,0.14,0.07,...,0.04,0.03,0.07,0.18,0.16,-0.19,-0.22,0.02,0.03,0.11
CLASSES,0.01,-0.02,-0.52,0.78,0.77,0.47,0.05,0.21,-0.14,0.01,...,0.07,0.19,0.48,0.75,0.67,-0.62,-0.54,-0.02,0.10,0.37
COUPONS,-0.00,-0.04,-0.35,0.68,0.73,0.44,0.01,0.13,-0.04,-0.00,...,0.03,0.21,0.35,0.69,0.58,-0.31,-0.33,-0.01,0.07,0.31
STYLES,-0.01,-0.03,-0.40,0.86,0.92,0.38,0.04,0.17,-0.03,0.02,...,0.05,0.20,0.39,0.72,0.61,-0.41,-0.39,-0.01,0.09,0.36
STORES,0.01,-0.01,-0.41,0.64,0.53,0.32,-0.13,0.32,-0.05,0.02,...,0.11,0.24,0.33,0.54,0.50,-0.42,-0.46,-0.03,0.12,0.30
STORELOY,-0.00,-0.05,-0.09,0.05,0.04,0.03,-0.02,0.26,-0.01,0.03,...,1.00,-0.04,0.02,0.03,0.05,-0.07,-0.12,0.01,-0.00,0.03
WEB,0.01,-0.01,-0.14,0.21,0.21,0.13,-0.01,0.03,-0.03,-0.01,...,-0.04,1.00,0.10,0.18,0.17,-0.12,-0.15,0.02,0.05,0.16
MAILED,0.00,-0.01,-0.14,0.41,0.40,0.36,-0.01,0.09,-0.01,-0.02,...,0.02,0.10,1.00,0.66,0.44,-0.31,-0.26,-0.05,0.06,0.20
RESPONDED,-0.00,-0.02,-0.43,0.76,0.70,0.41,-0.09,0.15,-0.03,0.01,...,0.03,0.18,0.66,1.00,0.82,-0.41,-0.42,-0.03,0.07,0.35
RESPONSERATE,0.00,-0.03,-0.47,0.66,0.59,0.37,-0.10,0.15,-0.04,0.02,...,0.05,0.17,0.44,0.82,1.00,-0.41,-0.43,-0.02,0.06,0.33
HI,-0.01,0.01,0.45,-0.42,-0.37,-0.32,0.02,-0.21,0.16,-0.07,...,-0.07,-0.12,-0.31,-0.41,-0.41,1.00,0.54,0.03,-0.16,-0.23
LTFREDAY,-0.03,0.03,0.66,-0.43,-0.37,-0.38,0.13,-0.27,0.09,-0.05,...,-0.12,-0.15,-0.26,-0.42,-0.43,0.54,1.00,0.03,-0.11,-0.31
CLUSTYPE,0.00,-0.04,0.01,-0.01,-0.01,0.00,-0.00,-0.01,-0.03,-0.01,...,0.01,0.02,-0.05,-0.03,-0.02,0.03,0.03,1.00,-0.01,-0.01
PERCRET,0.00,0.01,-0.06,0.17,0.01,0.06,-0.15,0.02,-0.07,-0.02,...,-0.00,0.05,0.06,0.07,0.06,-0.16,-0.11,-0.01,1.00,0.08
RESP,0.01,-0.01,-0.27,0.41,0.33,0.24,-0.07,0.09,-0.03,0.00,...,0.03,0.16,0.20,0.35,0.33,-0.23,-0.31,-0.01,0.08,1.00

In [25]:
# Try to handle the missing value
# After checking the first row of describe(), we found they have same number 17392.
# So no missing data in each columns.
cols_with_missing = [col for col in data.columns if data[col].isnull().any()]
cols_with_missing # result will be none.

[]

In [ ]:
# now we split data to train set and test set
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=11)